#telaLogin {
    background: #263238 ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #263238  , #455a64); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #263238 , #455a64); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #263238 , #455a64); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #263238  , #455a64); /* Standard syntax */
}

#loginform {
    background-color: #f7f7f7;
    display: block;
    height: 390px;
    margin: 0 auto;
    width: 390px;
    padding: 30px;
    border-radius: 25px;
    opacity: 0.9;

}



